@font-face {
    font-family: 'Handlee', 'cursive';
    src: url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
}

html { scroll-behavior: smooth;
}
body{
  margin: 0;
}

.bg-img {
  font-size: 65px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/bg.jpg);
  background-color:#3C3D45;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  margin: 0px;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.vh100
{
    min-height: calc(100vh - 56px);
}
.fontBlack
{
    color: #000000;
}
li:hover, span:hover
{
    cursor: pointer;
}
.spy
{
    overflow-y: scroll;
    height:10rem;
}
.spy1
{
    overflow-y: scroll;
    height:20rem;
}
.spy2
{
    overflow-y: scroll;
    height:125px;
    -ms-overflow-style: none;
}

#the-list li.hide 
{ 
    display: none; 
}
.ml-left
{
    margin-right: auto;
}
.w-10
{
    width:20rem;
}

.book
{
  display: list-item;    
} 
.logo
{ 
    width: 30%;  
}

.bg-color
{
    background-color: #e0ddd8;
}
.bg-color-footer-nav
{
    background-color: #a98c66;
}

.bg-sidebar
{
    background-color: #a18d78;
}
.bg-figcaption
{
    background-color: #ef5d58;
}


img {
    max-width: 100%;
    max-height:10%;
    background-size: cover;
    display: block;
}

.card-1 {
    margin: 0px 10px;
    cursor: pointer;
    position: relative;
    background-color: whitesmoke;
    flex: 0 0 26%;
    top: 0px;
    left: 0px;

    box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
    transition: all 150ms ease-in-out;
}
.card-1:hover {
    top: -3px;
    left: -3px;
    box-shadow: 3px 3px 15px 0px rgba(82, 82, 82, 0.85);
}
.card-1:active {
    top: 2px;
    left: 2px;
    box-shadow: inset 0 0 10px rgba(82, 82, 82, 0.85);
}

.img-print
{
    max-width: 75%;
    max-height:75%;
    background-size: cover;
    display: block;
}

.overlay {
    height: 0%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
.overlay {
    height: 0%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content,
  .overlay-right-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    overflow-y: scroll;
    height: 65%;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
    font-size: 2rem;
  }

.overlayRight {
    height: 0%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlayRight-content,
  .overlayRight-right-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    overflow-y: scroll;
    height: 65%;
  }
  
  .overlayRight a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlayRight a:hover, .overlayRight a:focus {
    color: #f1f1f1;
  }
  
  .overlayRight .closebtn {
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
    font-size: 2rem;
  }